<section class="row justify-content-center">

  <article class="card p-0 m-4 col-12 col-md-4">
    <a href=""><img src="https://loremflickr.com/300/180" class="card-img-top" alt="..."></a>
    <div class="card-body mt-2">
      <div class="row align-items-start">
        <div class="col-2">
          <img class="rounded-circle" alt="avatar1" src="https://loremflickr.com/40/40" />
        </div>
        <div class="col-10">
          <h5 class="card-title"><a href="" class="nav-link">The Virtual World One</a></h5>
          <p class="card-text"><a href="" class="nav-link">Fulando de Tal</a></p>
          <ul class="list-group list-group-horizontal">
            <li class="hashtag btn btn-light">#uml</li>
            <li class="hashtag btn btn-light">#oo</li>
            <li class="hashtag btn btn-light">#classdiagram</li>
          </ul>
        </div>
      </div>
    </div>
  </article>

  <article class="card p-0 m-4 col-12 col-md-4">
    <a href=""><img src="https://loremflickr.com/300/180" class="card-img-top" alt="..."></a>
    <div class="card-body mt-2">
      <div class="row align-items-start">
        <div class="col-2">
          <img class="rounded-circle" alt="avatar1" src="https://loremflickr.com/40/40" />
        </div>
        <div class="col-10">
          <h5 class="card-title"><a href="" class="nav-link">The Virtual World One</a></h5>
          <p class="card-text"><a href="" class="nav-link">Fulando de Tal</a></p>
          <ul class="list-group list-group-horizontal">
            <li class="hashtag btn btn-light">#uml</li>
            <li class="hashtag btn btn-light">#oo</li>
            <li class="hashtag btn btn-light">#classdiagram</li>
          </ul>
        </div>
      </div>
    </div>
  </article>

  <article class="card p-0 m-4 col-12 col-md-4">
    <a href=""><img src="https://loremflickr.com/300/180" class="card-img-top" alt="..."></a>
    <div class="card-body mt-2">
      <div class="row align-items-start">
        <div class="col-2">
          <img class="rounded-circle" alt="avatar1" src="https://loremflickr.com/40/40" />
        </div>
        <div class="col-10">
          <h5 class="card-title"><a href="" class="nav-link">The Virtual World One</a></h5>
          <p class="card-text"><a href="" class="nav-link">Fulando de Tal</a></p>
          <ul class="list-group list-group-horizontal">
            <li class="hashtag btn btn-light">#uml</li>
            <li class="hashtag btn btn-light">#oo</li>
            <li class="hashtag btn btn-light">#classdiagram</li>
          </ul>
        </div>
      </div>
    </div>
  </article>

  <article class="card p-0 m-4 col-12 col-md-4">
    <a href=""><img src="https://loremflickr.com/300/180" class="card-img-top" alt="..."></a>
    <div class="card-body mt-2">
      <div class="row align-items-start">
        <div class="col-2">
          <img class="rounded-circle" alt="avatar1" src="https://loremflickr.com/40/40" />
        </div>
        <div class="col-10">
          <h5 class="card-title"><a href="" class="nav-link">The Virtual World One</a></h5>
          <p class="card-text"><a href="" class="nav-link">Fulando de Tal</a></p>
          <ul class="list-group list-group-horizontal">
            <li class="hashtag btn btn-light">#uml</li>
            <li class="hashtag btn btn-light">#oo</li>
            <li class="hashtag btn btn-light">#classdiagram</li>
          </ul>
        </div>
      </div>
    </div>
  </article>

</section>
