<section class="container mt-5 pt-2">
  <section class="container-fluid mt-4">

    <!-- Menu -->
    <nav class="navbar">
      <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <h3>Choose an Environment</h3>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Menu End -->

    <!-- Choose an Environment -->
    <section class="row justify-content-center">
      <app-thumb-environment class="card p-0 m-4 col-12 col-md-4"></app-thumb-environment>
      <!-- <app-thumb-environment class="card p-0 m-4 col-12 col-md-4"></app-thumb-environment>
      <app-thumb-environment class="card p-0 m-4 col-12 col-md-4"></app-thumb-environment>
      <app-thumb-environment class="card p-0 m-4 col-12 col-md-4"></app-thumb-environment>
      <app-thumb-environment class="card p-0 m-4 col-12 col-md-4"></app-thumb-environment>
      <app-thumb-environment class="card p-0 m-4 col-12 col-md-4"></app-thumb-environment> -->
    </section>
    <!-- Choose an Environment End -->

  </section>
</section>
