  <!-- Footer -->
  <footer class="footer py-5 bg-dark mt-4">
    <div class="container">
      <div class="row container-fluid">
        <div class="col-12 col-md-4">
          <h5>About MetaSEE</h5>
          <ul class="list-unstyled text-small">
            <li>Mussum Ipsum, cacilds vidis litro abertis. Interagi no mé, cursus quis, vehicula ac nisi.Viva Forevis aptent taciti sociosqu ad litora torquent.Per aumento de cachacis, eu reclamis.Quem num gosta di mim que vai caçá sua turmis!</li>
          </ul>
        </div>
        <div class="col-6 col-md-2">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted nav-link" href="#">Home</a></li>
            <li><a class="text-muted nav-link" href="#">Make Your Virtual World</a></li>
            <li><a class="text-muted nav-link" href="#">Search</a></li>
            <li><a class="text-muted nav-link" href="#">Login/Signup</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-2">
          <h5>Contacts</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted nav-link" href="#">ffernandes@cos.ufrj.br</a></li>
            <li><a class="text-muted nav-link" href="#">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer End -->
