<section class="container mt-5 pt-2">
  <section class="container-fluid mt-4">

      <!-- Search Field -->
      <nav class="navbar">
        <div class="container-fluid">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-dark" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <!-- Search Field End -->

      <!-- Search -->
      <section class="row justify-content-center">
        <app-thumb-virtualworld class="card p-0 m-4 col-12 col-md-4"></app-thumb-virtualworld>
        <app-thumb-virtualworld class="card p-0 m-4 col-12 col-md-4"></app-thumb-virtualworld>
        <app-thumb-virtualworld class="card p-0 m-4 col-12 col-md-4"></app-thumb-virtualworld>
        <app-thumb-virtualworld class="card p-0 m-4 col-12 col-md-4"></app-thumb-virtualworld>
        <app-thumb-virtualworld class="card p-0 m-4 col-12 col-md-4"></app-thumb-virtualworld>
        <app-thumb-virtualworld class="card p-0 m-4 col-12 col-md-4"></app-thumb-virtualworld>
        <app-thumb-virtualworld class="card p-0 m-4 col-12 col-md-4"></app-thumb-virtualworld>
        <app-thumb-virtualworld class="card p-0 m-4 col-12 col-md-4"></app-thumb-virtualworld>
      </section>
      <!-- Search End-->
  </section>
</section>
